

<html>
    <body>
        <p id="tmessage"></p>
        <h1>Form Validations</h1>
        <form name="hello" action="./form-done" method="POST" >
        
            Your Name: <input type="text" name="tname" id="txt_name" required /> <br><br>
            Your Email: <input type="text" name="temail" id="txt_email" required/> <br><br>
            Your Age: <input type="text" name="tage" id="txt_age" required/> <br><br>
        
            Male <input id ="radio1" name="gender" type="radio" checked required>
            Female <input id ="radio2" name="gender" type="radio" required> <br><br>
        
            <input type="checkbox" id="chkbox" required/> Agree to our Terms <br> <br>
        
            <input type="submit" name="submit" value="Submit"
                    />
        
        
        </form>
        
        </body>
</html>